# OS
.DS_Store
Thumbs.db

# Editors/IDE
.vscode/
.idea/
*.code-workspace

# Python
__pycache__/
*.pyc
.env
.venv/
.env.*
.ipynb_checkpoints/

# R
.Rhistory
.Rproj.user/

# Node
node_modules/
dist/
build/

# Data cache/large
data/**/*.zip
data/**/*.7z
data/**/*.gz

# Power BI temp/locks
*.pbix.lock
